dot_vim/GetLatest/GetLatestVimScripts.dist
dot_vim/GetLatest/Installed
dot_vim/.VimballRecord
dot_vim/skk-jisyo
dot_vim/skk-jisyo.BAK
dot_vim/cookies/kshimo69
dot_vim/dict/gene95/gene.txt
dot_vim/autoload/proc.so
dot_emacs.d/auto-save-list
dot_emacs.d/dict
dot_emacs.d/ac-comphist.dat
dot_emacs.d/anything-c-adaptive-history
dot_emacs.d/conf/init-passwd.el
dot_emacs.d/.org-id-locations
dot_emacs.d/url/cookies
