[user]
	email = kshimo69@gmail.com
	name = Kimihiko Shimomura
[github]
	user = kshimo69
	token = 53a6a67aea7a0c6aac0ad1459915b506
[core]
	excludesfile = ~/.gitignore
	editor = vim -u NONE -i NONE -N -c 'syntax on'
	autocrlf = input
[color]
	ui = auto
[alias]
	co = checkout
	ci = commit
	st = status -sb
	pr = pull --rebase
	fo = fetch origin
	ro = rebase origin
	#lg = log --graph --pretty=oneline --decorate --date=short --abbrev-commit --branches
	lg = log --graph --pretty='format:%C(yellow)%h%Cblue%d%Creset %s %C(black bold)%an, %ar%Creset'
	newly = log HEAD@{1}..HEAD --reverse
	newlyp = log HEAD@{1}..HEAD -p --reverse
	diff-cache = diff --cached
	info = remote show origin
#[merge]
#	ff = false
