dot_vim/GetLatest/GetLatestVimScripts.dist
dot_vim/GetLatest/Installed
dot_vim/.VimballRecord
dot_vim/skk-jisyo
dot_vim/skk-jisyo.BAK
dot_vim/cookies/kshimo69
dot_vim/dict/gene95/gene.txt
dot_vim/autoload/proc.so
