[user]
    email = kshimo69@gmail.com
    name = Kimihiko Shimomura
[github]
    user = kshimo69
    token = 53a6a67aea7a0c6aac0ad1459915b506
    oauth-token = 13b360ce1c6a3abc15bc77d48e0ffbd9051b95f9
[core]
    excludesfile = ~/.gitignore
    editor = vim -u NONE -i NONE -N -c 'syntax on'
    autocrlf = input
[color]
    ui = auto
[log]
    date = iso
[alias]
    co = checkout
    cob = checkout -b
    ci = commit
    b = branch
    s = status -sb
    d = diff
    dc = diff --cached
    pr = pull --rebase
    fo = fetch origin
    ro = rebase origin
    po = pull origin
    lg = log --graph --pretty='format:%C(yellow)%h%Creset %s %C(black bold)%an, %ar %ad%Cgreen%d%Creset'
    hist = log --pretty=format:'%C(bold blue)%h%C(reset) %ad %C(bold green)|%C(reset) %s %C(bold white)[%an]%C(reset)%C(bold yellow)%d%C(reset)' --graph
    tree = log --graph --all --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(bold white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --abbrev-commit --date=relative
    ; g = log --graph --date=short --decorate=short --pretty=format:'%Cgreen%h %Creset%cd %Cblue%cn %Cred%d %Creset%s'
    g = log --pretty=format:'%C(bold blue)%h%C(reset) %ad %s %C(bold black)[%an]%C(reset)%C(bold yellow)%d%C(reset)' --graph
    rb = rebase
    mg = merge
    ls = stash list
    tp = commit -a -m '@@ignore add'
    newly = log HEAD@{1}..HEAD --reverse
    newlyp = log HEAD@{1}..HEAD -p --reverse
    info = remote show origin
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
    pull-dry-run = !"git fetch origin; B=$(git rev-parse --abbrev-ref HEAD); git diff --stat --summary ${B}..origin/${B}"
    fixup = commit --amend -C HEAD
    chown = commit --amend --reset-author  # authorを変える(と日時も変わる)
    newdate = !git commit --amend --date=\"$(date -R)\"  # 日時を現在時刻に
    currentbranchname = branch --contains
    # 特定のファイルの特定のリビジョンの内容が見たい
    # git show HASH:path/to/file
#[merge]
#    ff = false
[diff]
    algorithm = histogram
[pager]
    log = diff-highlight | less
    show = diff-highlight | less
    diff = diff-highlight | less
[http]
    sslVerify = false
