---
  - name: Include tasks
    vars:
      _first_found_params:
        files:
          - "{{ ansible_facts['distribution'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
          - "{{ ansible_facts['distribution'] }}.yml"
          - "{{ ansible_facts['os_family'] }}-{{ ansible_facts['distribution_major_version'] }}.yml"
          - "{{ ansible_facts['os_family'] }}.yml"
        paths:
          - "{{ role_path }}/tasks"
        skip: false
    include_tasks: "{{ lookup('first_found', _first_found_params) }}"
